# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Database
data.db
*.db
*.sqlite3

# Logs
log/
*.log

# Ignore all files in logs directory but keep the directory and .gitkeep
logs/*
!logs/.gitkeep

# Environment variables
.env
.env.*

# Bot working directory
work-bot/

# SSH keys
*.pem
id_rsa
id_rsa.pub
*.key

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
